.main .content__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .content__titlepath{
}

.content .content__pathback{
    color: #000;
    font-size: 1.25em;
    font-weight: 500;
    text-decoration: none;
}

.content .content__pathback:hover{
    color: #0d6efd;
}

.content .content__examname{
    font-size: 1.25em;
    display: inline-block;
}