<<<<<<< HEAD
.content__title-label{
    margin: 0;
=======
.limit-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
>>>>>>> main
}