.form__info {
    max-width: 900px;
    margin: 36px auto;
    border: 1px solid #0d6efd;
    border-radius: 15px;
    overflow: hidden;
}

.form__info-head {
    background-color: #0d6efd;
    color: white;
    text-transform: capitalize;
    text-align: center;
}

.form__info-title {
    padding: 12px 0;
    margin: 0
}


.form__info-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}

.form__info-image {
    padding: 24px 0;
    margin: auto;
    width: 250px;
    border-radius: 50%;
}

.form__info-img {
    width: 200px;
    display: block;
    margin: auto;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;

}

.input_file {
    padding: 16px 0;
}

.form__info-list {
    flex: 1;
    height: 100%;
}

.form__info-item {
    display: flex;
    align-items: center;
    background-color: rgba(13, 109, 253, 0.342);
    border: 1px solid #eee;
    padding: 0 16px;
}

.form__info-name {
    display:block;
    width: 150px;
}

.form__info-value {
    flex: 1;
    margin: 8px 0;
}

.form__info-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__info-btn-image {
    display: block;
    margin: 24px auto 0;
    background-color:#0d6efd;
    color: white;
    border-radius: 6px;
    padding: 4px 12px;
    cursor: pointer;
    border: 1px solid #0d6efd;
    overflow:hidden;

}

.form__info-btn-image:hover {
    background-color: white;
    color: #0d6efd;
    border: 1px solid #0d6efd;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}

.form__info-btn {
    background-color:#0d6efd;
    color: white;
    border-radius: 6px;
    padding: 6px 12px;
    margin: 10px 20px 20px;
    cursor: pointer;
    border: 1px solid #0d6efd;
    overflow:hidden;

}

.active_btn {
    background-color: #0f1295;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}

.form__info-btn:hover {
    background-color: white;
    color: #0d6efd;
    border: 1px solid #0d6efd;

}

/* form chỉnh sửa */

.form__edit {
    max-width: 900px;
    margin: 20px auto;
    border: 1px solid #0d6efd;
    border-radius: 15px;
    overflow: hidden;
    display: none;
}

.form__edit-body {
    padding:40px 20px;
}


/* Lịch sử thi */

.history {
    padding-top: 36px;
    max-width: 900px;
    margin: 36px auto;
    display: none;
}

.history__title {
    color: #0d6efd;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 16px;
}

.show{
    display: block;
}

.btn_show {
    background-color:#0d31fd
}

/* modal */
.modal-content  {
    border: 1px solid #0d6efd;
    border-radius: 15px;
    overflow: hidden;
}

.modal-dialog {
    max-width: 700px;
}

#imageInput{
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}
