.header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;

}
body>{
    width: 100%;
    box-sizing: border-box;

}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.banner {
    background-color:#132b65 ;
    height: 200px;
}

.header ul li{
    display: inline-table;
}
.header ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: black;
}
.header{
    margin: 0 auto;
    box-shadow: 1px 5px 5px #888888;

}
.left_main{
    height: auto;
    /*background-color: #e7f66e;*/
}
.middle_main{
}
.right_main{
    height: auto;
    padding-top: 20px;
}

.gold_pound{
    padding-left:20px ;
    padding-top:20px ;
    padding-right:20px ;
    background-color: #84f4f4;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.div_cus{
    /*border: solid 1px;*/
    padding-top: 20px;
    padding-bottom: 25px;
    margin-right: 20px ;
    margin-left: 20px;
    /*background-color: #84f4f4;*/

}
.call_sp{
    padding-left:20px ;
    padding-top:20px ;
    padding-right:20px ;
    background-color: #f4c678;
    padding-bottom: 20px;
}
.btn_logout{
    list-style: none;
    margin: 0 auto;
    padding-top: 15px;
}
.customer{
    padding-top: 20px;
    background-color: #84f4f4;

}
.div_thongke{
    padding-top: 30px;
    background-color: #f4c678;
    padding-bottom: 40px;
}

.div_timkiem{
    padding-top: 30px;

    padding-bottom: 40px;
    margin: 0 auto;

}


.search_b {
    display: flex;
    justify-content: center;
}

.b_block {
    display: block;
}
/*.middle_main{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/

/*}*/
.middle_main> .card{
    background-color: #f1f1f1;
    margin: 20px 15px;
}

.card-img-top {
    border-radius:10px ;
}

.card_mg {
    margin: 20px 15px;
    border-radius: 10px;
    overflow: hidden;
}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.card{
    transition: transform .2s;
}

/*navbar*/
.navbar__item-list{
    display: flex;
    height: 65px;
    align-items:center;
}

.navbar__item-sectors{
    line-height: 65px;
    font-size:1.6rem;
    margin: 0 8px;
    padding: 0 8px;
    position: relative;
    font-weight: 600;
}

/* sectors */
.navbar__item-sectors:hover {
    height: 100%;
    border-bottom: 3px solid #000;
    cursor: pointer;
}
.navbar__item-sectors:hover .sector-detail {
    display: flex;
}

.sector-detail {
    background-color : #fff;
    position:absolute;
    left: -8px;
    top: 70px;
    display:flex;
    padding:  16px 0;
    border: 2px solid #ddd;
    display:none;

}

.sector-detail::before {
    content:"";
    position: absolute;
    display:block;
    top: -7px;
    left: 0;
    height:10px;
    width: 100%;

}

.sector-detail__list {
    border-right: 1px solid #ddd;
    width: 250px;
}

.sector-detail__item{
    height: 32px;
}

.sector-detail__item-title {
    display: block;
    padding: 0 16px;
    color: #000;
    font-weight: bold;
    font-size: 1.4rem;
    text-shadow: 1px 1px #ccc;
    text-decoration: none;
    text-transform: uppercase;
    line-height:32px;

}

.sector-detail__item-link{
    display: block;
    padding: 0 16px;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: capitalize;
    line-height:32px;
    color:rgb(110, 110, 110);
}


